<a href="https://colab.research.google.com/github/sidharth1snair/Maths_Project/blob/main/Spam_Mail_Prediction_using_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing the Dependencies**

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

**Data Collection & Pre-Processing**

In [4]:
# loading the data from csv file to a pandas Dataframe
raw_mail_data = pd.read_csv('/content/mail_data.csv')

In [5]:
print(raw_mail_data)

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [6]:
# replace the null values with a null string
mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [7]:
# printing the first 5 rows of the dataframe
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
# checking the number of rows and columns in the dataframe
mail_data.shape

(5572, 2)

**Label Encoding**

In [9]:
# label spam mail as 0;  ham mail as 1;

mail_data.loc[mail_data['Category'] == 'spam', 'Category',] = 0
mail_data.loc[mail_data['Category'] == 'ham', 'Category',] = 1

spam  -  0

ham  -  1

In [10]:
# separating the data as texts and label

X = mail_data['Message']

Y = mail_data['Category']

In [11]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [12]:
print(Y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

**Splitting the data into training data & test data**

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [14]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(5572,)
(4457,)
(1115,)

**Feature Extraction**

In [15]:
# transform the text data to feature vectors that can be used as input to the Logistic regression

feature_extraction = TfidfVectorizer(min_df = 1, stop_words='english', lowercase='True')

X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

# convert Y_train and Y_test values as integers

Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [16]:
print(X_train)

4237    U can WIN £100 of Music Gift Vouchers every we...
5413    Nite nite pocay wocay luv u more than n e thin...
2763    ARR birthday today:) i wish him to get more os...
2826    Congratulations - Thanks to a good friend U ha...
4345    Hi:)did you asked to waheeda fathima about leave?
                              ...
5570    The guy did some bitching but I acted like i'd...
2997    They released vday shirts and when u put it on...
2798    If I get there before you after your ten billi...
1620              Friends that u can stay on fb chat with
4358    HELLOGORGEOUS, HOWS U? MY FONE WAS ON CHARGE L...
Name: Message, Length: 4457, dtype: object

In [17]:
print(X_train_features)

  (0, 300)	0.27764251164058595
  (0, 848)	0.2536351195138183
  (0, 339)	0.27764251164058595
  (0, 5960)	0.27764251164058595
  (0, 1853)	0.1923061032289241
  (0, 3467)	0.2876064796330862
  (0, 7326)	0.17566085009926063
  (0, 6784)	0.27764251164058595
  (0, 680)	0.23959169537955088
  (0, 2371)	0.19966824222602833
  (0, 7275)	0.20562033526028295
  (0, 6810)	0.1562783638999478
  (0, 6196)	0.24590646550323414
  (0, 7148)	0.16904358595179708
  (0, 7039)	0.22752797266063252
  (0, 3011)	0.22189907337646644
  (0, 4492)	0.22020920918023804
  (0, 247)	0.20059190617935752
  (0, 7210)	0.1844303774662873
  (1, 399)	0.3456654401589424
  (1, 5563)	0.25845936459246827
  (1, 5243)	0.3020624023757053
  (1, 511)	0.32957285625925004
  (1, 6580)	0.2212201975774787
  (1, 4120)	0.24236678069277595
  :	:
  (4454, 3043)	0.39999702995397757
  (4455, 2700)	0.5925777421044462
  (4455, 2891)	0.44106689004964095
  (4455, 6207)	0.5028287602299928
  (4455, 1693)	0.44885950580321093
  (4456, 3658)	0.2630728712360477
  (4456, 526)	0.2630728712360477
  (4456, 3370)	0.2630728712360477
  (4456, 6532)	0.2630728712360477
  (4456, 4625)	0.2630728712360477
  (4456, 3275)	0.2630728712360477
  (4456, 7240)	0.24213570699763498
  (4456, 798)	0.235395445602019
  (4456, 4103)	0.25082541528513624
  (4456, 4053)	0.235395445602019
  (4456, 400)	0.22988825104672359
  (4456, 1684)	0.20221082541269492
  (4456, 2820)	0.2089510868083109
  (4456, 4600)	0.16707675833148558
  (4456, 3485)	0.16242049168058612
  (4456, 3399)	0.20429482015741143
  (4456, 7166)	0.19352111712519368
  (4456, 6373)	0.16136052527397432
  (4456, 2239)	0.14645588958017877
  (4456, 4120)	0.18445617490648805

# **Training the Model**

**Logistic Regression**

In [18]:
model = LogisticRegression()

In [19]:
# training the Logistic Regression model with the training data
model.fit(X_train_features, Y_train)

LogisticRegression()

**Evaluating the trained model**

In [20]:
# prediction on training data

prediction_on_training_data = model.predict(X_train_features)
accuracy_on_training_data = accuracy_score(Y_train, prediction_on_training_data)

In [21]:
print('Accuracy on training data : ', accuracy_on_training_data)

Accuracy on training data :  0.9706080323087278

In [22]:
# prediction on test data

prediction_on_test_data = model.predict(X_test_features)
accuracy_on_test_data = accuracy_score(Y_test, prediction_on_test_data)

In [23]:
print('Accuracy on test data : ', accuracy_on_test_data)

Accuracy on test data :  0.9542600896860987

# **Building a Predictive System**

In [24]:
input_mail = ["Had your contract mobile 11 Mnths? Latest Motorola, Nokia etc. all FREE! Double Mins & Text on Orange tariffs. TEXT YES for callback, no to remove from records."]

# convert text to feature vectors
input_data_features = feature_extraction.transform(input_mail)

# making prediction

prediction = model.predict(input_data_features)
print(prediction)


if (prediction[0]==1):
  print('Ham mail')

else:
  print('Spam mail')

[0]
Spam mail