<a href="https://colab.research.google.com/github/sidharth1snair/Maths_Project/blob/main/Spam_Mail_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

importing the dependencies

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Data Collection and Pre-Processing

In [4]:
# loading the data from csv file to a pandas Dataframe
raw_mail_data = pd.read_csv('/content/mail_data.csv')

In [5]:
print(raw_mail_data)

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will Ã¼ b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [6]:
# replace the null value with null string
mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [7]:
# printing the first 10 rows of the dataframe
mail_data.head(10)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
5     spam  FreeMsg Hey there darling it's been 3 week's n...
6      ham  Even my brother is not like to speak with me. ...
7      ham  As per your request 'Melle Melle (Oru Minnamin...
8     spam  WINNER!! As a valued network customer you have...
9     spam  Had your mobile 11 months or more? U R entitle...

In [8]:
# checking the number of rows and columns in the dataframe
mail_data.shape

(5572, 2)

Label Encoding

In [9]:
# label spam mail as 0 and ham mail as 1
mail_data.loc[mail_data['Category'] == 'spam','Category',] = 0
mail_data.loc[mail_data['Category'] == 'ham','Category',] = 1

spam -0

ham- 1

In [10]:
# seperating the data as text and label

X = mail_data['Message']
Y = mail_data['Category']

In [11]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will Ã¼ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [12]:
print(Y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

Spliting the data into training data and testing data

In [13]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=20)

In [14]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(5572,)
(4457,)
(1115,)

Feature extraction

In [15]:
# transform the text data to feature vectors that can be used as input to the logistic regression 

feature_extraction = TfidfVectorizer(min_df=1,stop_words='english',lowercase='True ')


X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

#convert Y_train and Y_test values as integers

Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [16]:
print(X_train)

3705               Kent vale lor... Ã wait 4 me there ar?
1649    If u laugh really loud.. If u talk spontaneous...
4833       Rats. Hey did u ever vote for the next themes?
919     Hey you gave them your photo when you register...
3856    Free msg: Single? Find a partner in your area!...
                              ...
1607          Ok no prob... I'll come after lunch then...
3915    Today is ACCEPT DAY..U Accept me as? Brother S...
1428    THING R GOOD THANX GOT EXAMS IN MARCH IVE DONE...
4367      Mm yes dear look how i am hugging you both. :-P
2522                               Sorry, I'll call later
Name: Message, Length: 4457, dtype: object

In [17]:
print(X_train_features)

  (0, 1011)	0.46432895363875526
  (0, 7093)	0.33373719919163786
  (0, 4060)	0.2911226559874867
  (0, 6978)	0.5423401625637047
  (0, 3772)	0.5423401625637047
  (1, 3089)	0.34464689989621566
  (1, 2913)	0.22323715157465068
  (1, 1283)	0.22710092520140576
  (1, 923)	0.2120836681866302
  (1, 2129)	0.3897960265996216
  (1, 5229)	0.23618570169334357
  (1, 2719)	0.21888416898749177
  (1, 1599)	0.21139543784961692
  (1, 2349)	0.18362636844172434
  (1, 6167)	0.34464689989621566
  (1, 6458)	0.2302683949938386
  (1, 4077)	0.3286017345195483
  (1, 5401)	0.20510089047701893
  (1, 3889)	0.28095782541833375
  (2, 6579)	0.5413137772323813
  (2, 7062)	0.4843631241922913
  (2, 2237)	0.2975495057656288
  (2, 3316)	0.30135600989218203
  (2, 5375)	0.5413137772323813
  (3, 7404)	0.396178726780596
  :	:
  (4453, 6685)	0.13187277112586354
  (4453, 2118)	0.12195809929056922
  (4454, 3587)	0.284049110085628
  (4454, 1425)	0.284049110085628
  (4454, 5557)	0.284049110085628
  (4454, 2615)	0.27082509748667083
  (4454, 4201)	0.2349944860328226
  (4454, 2607)	0.25416481192949897
  (4454, 1323)	0.18717074119194885
  (4454, 3107)	0.22561189977688864
  (4454, 2880)	0.26144251123073686
  (4454, 7328)	0.2349944860328226
  (4454, 6567)	0.200394753790906
  (4454, 3633)	0.4964369972635595
  (4454, 6593)	0.17842146470025097
  (4454, 3102)	0.1360460932856392
  (4454, 3088)	0.13535581507362726
  (4455, 3426)	0.5991543111791432
  (4455, 4371)	0.4818766664064054
  (4455, 4049)	0.4226993727785641
  (4455, 7417)	0.33960832950313524
  (4455, 2129)	0.33882209572752886
  (4456, 3885)	0.6100001093575118
  (4456, 4015)	0.5275816305698532
  (4456, 6096)	0.5912338705360836

Tranin the model

Logistic regression

In [18]:
model = LogisticRegression()

In [19]:
# training the logistic regression model with training data
model.fit(X_train_features,Y_train)

LogisticRegression()

Evaluation the trained model

In [20]:
# prediction on training data

prediction_on_training_data = model.predict(X_train_features)
accuracy_on_training_data = accuracy_score(Y_train,prediction_on_training_data)

In [21]:
print('accuracy_on_training_dada :',accuracy_on_training_data)

accuracy_on_training_dada : 0.9667938074938299

In [22]:
# prediction on test data

prediction_on_test_data = model.predict(X_test_features)
accuracy_on_test_data = accuracy_score(Y_test,prediction_on_test_data)

In [23]:
print('accuracy_on_test_dada :',accuracy_on_test_data)

accuracy_on_test_dada : 0.9560538116591928

Bulding a predictive system

In [24]:
input_mail=["No. I meant the calculation is the same. That  &lt;#&gt; units at  &lt;#&gt; . This school is really expensive. Have you started practicing your accent. Because its important. And have you decided if you are doing 4years of dental school or if you'll just do the nmde exam."]

#Convert text to feature vectors
input_data_features = feature_extraction.transform(input_mail)

#making prediction

prediction = model.predict(input_data_features)
print(prediction)

if prediction[0]==1:
  print('Ham mail')
else:
  print('Spam mail')

[1]
Ham mail